div {
    overflow-x: hidden;
}

#img-container {
    background-image: url("../Images/volume.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-div {
    padding-left: 2rem;
    padding-right: 2rem;
}